:root {
  --default-bg: #413b3b;
  --default-white-color: #ffffff;
  --default-shadow: rgba(0, 0, 0, 0.25);
  --play-button-bg: #4dbe6d;
  --play-button-fg: #281f1f;
  --input-border: #d9d9d9;
  --link-color: #536d82;
  --link-color-visited: #b3948b;
}

* {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  background-color: var(--default-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#game-title {
  color: var(--default-white-color);
  font-size: 3rem;
  flex-shrink: 1;
}

.board {
  display: grid;
  margin-top: 2rem;
  width: clamp(20rem, 20%, 45rem);
  height: clamp(20rem, 40%, 45rem);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  flex-shrink: 0;
}

@media only screen and (max-width: 600px) {
  .board {
    margin-top: 2rem;
    width: clamp(20rem, 10%, 40rem);
    height: clamp(20rem, 20%, 40rem);
  }
}

.cell {
  border: solid 2px var(--play-button-fg);
}

.versus {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  gap: 5%;
}

.versus h2 {
  color: var(--default-white-color);
  font-weight: lighter;
  font-size: 2rem;
}

.cell {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  border-style: none;
  box-shadow: 0px 4px 4px var(--default-shadow);
  padding-top: clamp(20px, 5%, 9rem);
  padding-bottom: clamp(20px, 5%, 9rem);
  margin: 10px;
  width: clamp(10px, 75%, 900px);
  border-radius: 1rem;
  border: solid 0.4rem var(--input-border);
  text-align: center;
}

button.play {
  background-color: var(--play-button-bg);
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  color: var(--play-button-fg);
  font-size: clamp(1rem, 200%, 50rem);
  padding: 2rem 3rem 2rem 3rem;
  border-radius: 1rem;
  border-style: solid;
  border-color: var(--default-white-color);
}

button.play:hover {
  animation: slide 0.2s ease-in-out 0.1s forwards;
}

footer {
  display: flex;
  justify-content: space-between;
  color: var(--default-white-color);
  padding: 10px;
  align-self: stretch;
  flex: 1;
  align-items: flex-end;
}

footer p em {
  text-decoration: underline;
}

footer a {
  color: var(--link-color);
}

footer a:visited {
  color: var(--link-color-visited);
}

@keyframes slide {
  0% {
    border-width: 0.1rem;
  }
  50% {
    border-width: 0.2rem;
  }
  100% {
    border-width: 0.3rem;
  }
}

.cross {
  background-image: url("img/cross.svg");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}

.circle {
  background-image: url("img/circle.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
